# Ignore all .log & temp files
*.log
*.tmp

# Ignore a specific directory
/build/
node_modules/
.venv/

# Sen info 
.env
secrets.json
config.json

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# local history
.history/

# cred files
**/credentials.json
**/client_secrets.json
**/client_secret.json


# readme

**/README.md